<!DOCTYPE html>
<title>{% block title %}{% endblock %} Wine Night</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>

<body>
  <div class="full-body-container">
    <div class="logo">
      <img src="/static/images/logo-2.png" alt="winenight" />
    </div>

    <p class="step-text">Step 1. Select mood(s) you want for tonight</p>

    <div class="filter-mood">
      <!-- maybe there needs to be a container for these mood filter buttons? not sure -->
      <button class="mood-button" id="chill">
        <img class="mood-emoji" src="/static/images/chill.png" />
        <div class="mood-text">
          <p class="mood-title">Chill</p>
          <p class="mood-desc">Unwind your day</p>
        </div>
      </button>

      <button class="mood-button" id="sad">
        <img class="mood-emoji" src="/static/images/sad.png" />
        <div class="mood-text">
          <p class="mood-title">Sad & Melancholy</p>
          <p class="mood-desc">Lift your moods</p>
        </div>
      </button>

      <button class="mood-button" id="sexy">
        <img class="mood-emoji" src="/static/images/sexy.png" />
        <div class="mood-text">
          <p class="mood-title">Sexy & Playful</p>
          <p class="mood-desc">Musky and floral</p>
        </div>
      </button>

      <button class="mood-button" id="angry">
        <img class="mood-emoji" src="/static/images/angry.png" />
        <div class="mood-text">
          <p class="mood-title">Angry</p>
          <p class="mood-desc">Cool you down</p>
        </div>
      </button>

      <button class="mood-button" id="wild">
        <img class="mood-emoji" src="/static/images/wild.png" />
        <div class="mood-text">
          <p class="mood-title">Go Wild</p>
          <p class="mood-desc">Venture to unknown</p>
        </div>
      </button>

      <button class="mood-button" id="low">
        <img class="mood-emoji" src="/static/images/energy.png" />
        <div class="mood-text">
          <p class="mood-title">Low Energy</p>
          <p class="mood-desc">Boost up energy & vibes</p>
        </div>
      </button>
    </div>

    <p class="step-text">Step 2. Tell me your preference!</p>
    <div id="search-box">
      <div class="similar-wines">
        <div class="similar-wines-title-box">
          <p class="similar-wines-title">Similar Wines</p>
        </div>
        <div class="similar-input-container" onclick="sendFocusSimilarWines()">
          <div class="similar-input-box">
            <input
              class="similar-input-box"
              placeholder="ex. Oak Grove 2012 Reserve Pinot Grigio"
              id="filter-text-val"
            />
          </div>
        </div>
        <div>
          <p class="inst">Please input one similar wine you want</p>
        </div>
      </div>

      <div class="preferred-flavor">
        <div>
          <p class="preferred-flavor-title">Preferred Flavor</p>
        </div>
        <div class="preferred-input-box">
          <input
            placeholder="ex. Sweet, Dry, Purple, Deep, Easy, Dense, Medium Finish, Sturdy, Bold, Airy, Vinegar, Flat, Hot"
            id="filter-text-val-preferred"
          />
        </div>
        <div>
          <p class="inst">Use comma to separate multiple keywords</p>
        </div>
      </div>

      <div class="filter">
        <p id="filter-button">Add Filter(s)</p>
        <div class="additional-filters" id="additional-filters">
          <div class="add-first-row">
            <div class="add-box category">
              <div class="title-box category">
                <p class="add-title">Category</p>
              </div>

              <select class="add-dropdown category">
                <option value="all">All</option>
                <option value="dessert">Dessert</option>
                <option value="fortified">Fortified</option>
                <option value="ps">Port/Sherry</option>
                <option value="red">Red</option>
                <option value="rose">Rose</option>
                <option value="sparkling">Sparkling</option>
                <option value="white">White</option>
              </select>
            </div>

            <div class="add-box varietal">
              <div class="title-box varietal">
                <p class="add-title">Varietal</p>
              </div>
            </div>

            <div class="add-box country">
              <div class="title-box country">
                <p class="add-title">Country of Origin</p>
              </div>
              <select
                class="add-dropdown country"
                id="country-select"
                onchange="changeCountry()"
              >
                <option value="all">All</option>
                <option value="argentina">Argentina</option>
                <option value="armenia">Armenia</option>
                <option value="australia">Australia</option>
                <option value="austria">Austria</option>
                <option value="brazil">Brazil</option>
                <option value="bulgaria">Bulgaria</option>
                <option value="canada">Canada</option>
                <option value="chile">Chile</option>
                <option value="china">China</option>
                <option value="croatia">Croatia</option>
                <option value="cyprus">Cyprus</option>
                <option value="czech-republic">Czech Republic</option>
                <option value="england">England</option>
                <option value="france">France</option>
                <option value="georgia">Georgia</option>
                <option value="germany">Germany</option>
                <option value="greece">Greece</option>
                <option value="hungary">Hungary</option>
                <option value="india">India</option>
                <option value="israel">Israel</option>
                <option value="italy">Italy</option>
                <option value="lebanon">Lebanon</option>
                <option value="luxembourg">Luxembourg</option>
                <option value="macedonia">Macedonia</option>
                <option value="mexico">Mexico</option>
                <option value="moldova">Moldova</option>
                <option value="morocco">Morocco</option>
                <option value="new-zealand">New Zealand</option>
                <option value="peru">Peru</option>
                <option value="portugal">Portugal</option>
                <option value="romania">Romania</option>
                <option value="serbia">Serbia</option>
                <option value="slovakia">Slovakia</option>
                <option value="slovenia">Slovenia</option>
                <option value="south-africa">South Africa</option>
                <option value="spain">Spain</option>
                <option value="switzerland">Switzerland</option>
                <option value="turkey">Turkey</option>
                <option value="ukraine">Ukraine</option>
                <option value="uruguay">Uruguay</option>
                <option value="us">US</option>
              </select>
            </div>

            <div class="add-box region">
              <div class="title-box region">
                <p class="add-title">Region</p>
              </div>
            </div>
          </div>

          <div class="add-second-row">
            <div class="add-box price">
              <div class="title-box price">
                <p class="add-title">Price Range</p>
              </div>
              <div class="add-number price">
                <div class="min-box">
                  <p class="min">Min $</p>
                  <input type="number" id="minPrice" placeholder="minimum" />
                </div>
                <div class="max-box">
                  <p class="max">Max $</p>
                  <input type="number" id="maxPrice" placeholder="maximum" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="recommend-button" onclick="filterText()">Recommend</button>

    <p id="result-text"></p>
    <!-- <button id="sort-button" onclick="sortPrice(this)" data-sort="asc">Sort Price (Low to High)</button> -->
    <div id="answer-box"></div>
  </div>

  <script>
    // like and dislike button in array

    let likedWines = new Set();
    let dislikedWines = new Set();

    //let likedWines = [];
    //let dislikedWines = [];

    let sortButton = document.getElementById('sort-button');
    let sortDirection = 'none';

    function answerBoxTemplate(
      name,
      price,
      category,
      varietal,
      appellation,
      country,
      sim_score,
      term_score,
      combined_score,
      mood
    ) {
      let sim_score_div = '';

      // if (combined_score !== undefined) {
      //   sim_score_div = `<div class="sim-score"> - Your input of similar wine (Similarity Score: ${
      //     sim_score.toFixed(2) * 100
      //   }%) | Term Score: ${term_score} | Combined Score: ${
      //     combined_score.toFixed(2) * 100
      //   }</div>`;
      // } else if (term_score) {
      //   sim_score_div = `<div class="sim-score">Term Score: ${term_score}</div>`;
      // } else {
      //   sim_score_div = `<div class="sim-score">Similarity Score: ${
      //     sim_score.toFixed(2) * 100
      //   }%</div>`;
      // }

      if (combined_score !== undefined) {
        sim_score_div = `<div class="sim-score"><p>This wine is recommended based on</p><ul><li>Your input of similar wine (similarity score: ${sim_score.toFixed(2) * 100}%)</li><li>Your preferred flavor(s) appear(s) ${term_score} time(s) in this wine's review</li><li>The combined score for above is ${combined_score.toFixed(2) * 100}</li><li>Matches your choice of mood(s) of ${mood}</li></ul></div>`;
      } else if (term_score) {
        sim_score_div = `<div class="sim-score"><p>This wine is recommended based on</p><ul><li>Your preferred flavor(s) appear(s) ${term_score} time(s) in this wine's review</li><li>Matches your choice of mood(s):${mood}</li></ul></div>`;
      } else if (sim_score) {
        sim_score_div = `<div class="sim-score"><p>This wine is recommended based on</p><ul><li>Your input of similar wine (similarity score: ${sim_score.toFixed(2) * 100}%)</li><li>Your choice of mood(s):${mood}</li></ul></div>`;
      }


      return `<div class='output-content-div'>
                  <p class='output-title'>${name}</p>
                  <p class='output-price'>${price}</p>
                  <div class="output-line"></div>

                  <div class="output-category-div">
                    <p class='output-category'>🍷 ${category}</p>
                    <div class='output-category-line'></div>
                    <p class='output-varietal'>${varietal}</p>
                  </div>

                  <div class="output-region-div">
                    <p class='output-appellation'>📍 ${
                      appellation ? appellation + ', ' : ''
                    }</p>
                    <p class='output-country'> &nbsp;${country}</p>
                  </div>

                  <div class="output-line"></div>
                  ${sim_score_div}
                  <div class="likedislikeButton"> 
                  <p class="just-text"> Are you satisfied with the result?</p>
                  <button class="likeButton">👍🏻</button>  
                  <button class="dislikeButton">👎🏻</button>  
                  </div>
              </div>  

              `;
    }

    function sendFocus() {
      document.getElementById('filter-text-val-preferred').focus();
    }

    function sendFocusSimilarWines() {
      document.getElementById('filter-text-val').focus();
    }

    function performFlavorSearch(
      queried_wine = null,
      wine_names = null,
      sim_scores = null
    ) {
      const params = new URLSearchParams();
      const flavors = document
        .getElementById('filter-text-val-preferred')
        .value.split(',');
      flavors.forEach((keyword) => {
        params.append('flavors', keyword.trim());
      });
      const minPrice = document.getElementById('minPrice').value;
      const maxPrice = document.getElementById('maxPrice').value;
      params.append('minPrice', minPrice || 0);
      params.append('maxPrice', maxPrice || Number.MAX_SAFE_INTEGER);
      params.append('wine_name', queried_wine);

      const category = document.querySelector('.add-dropdown.category').value;
      if (category !== 'all') {
        params.append('category', category);
      }

      const country = document.querySelector('.add-dropdown.country').value;
      if (country !== 'all') {
        params.append('country', country);
      }

      if (document.getElementById('input-box-varietal')) {
        const varietal = document.getElementById('input-box-varietal').value;
        params.append('varietal', varietal);
      }

      if (document.getElementById('input-box-region')) {
        const appellation = document.getElementById('input-box-region').value;
        params.append('appellation', appellation);
      }

      let moodButtons = document.querySelectorAll('.mood-button.active');
      for (btn of moodButtons) {
        params.append('mood', btn.innerText || btn.textContent);
      }

      // If wine_names is not null, add it to the query parameters
      if (wine_names) {
        const encodedWines = wine_names
          .map((wine) => encodeURIComponent(wine))
          .join(',');
        params.append('wine', wine_names.join(','));
      }
      fetch('/wine_reviews?' + params.toString())
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          if (data.length === 0) {
            document.getElementById('result-text').innerHTML =
              'No results found. Please try typing different search(es).';
          } else {
            // Sort data based on combined_score
            data.sort((a, b) => {
              if (
                a.combined_score !== undefined &&
                b.combined_score !== undefined
              ) {
                return b.combined_score - a.combined_score;
              } else if (
                a.term_score !== undefined &&
                b.term_score !== undefined
              ) {
                return b.term_score - a.term_score;
              } else {
                return b.score - a.score;
              }
            });

            document.getElementById(
              'result-text'
            ).innerHTML = `Our top ${data.length} Recommendation(s) for you!`;
            data.forEach((row) => {
              row.appellation = row.appellation.split(',')[0];
              let tempDiv = document.createElement('div');
              tempDiv.classList.add('output-card');
              tempDiv.innerHTML = answerBoxTemplate(
                row.wine,
                row.price,
                row.category,
                row.varietal,
                row.appellation,
                row.country,
                row.score,
                row.term_score,
                row.combined_score,
                row.mood
              );
              document.getElementById("answer-box").appendChild(tempDiv);

              document.getElementById('answer-box').appendChild(tempDiv);

              // like & dislike button event listeners
              // add event listeners for like and dislike buttons
              tempDiv
                .querySelector('.likeButton')
                .addEventListener('click', function () {
                  console.log(`Like button clicked for ${row.wine}`);
                  // likedWines.push(row.wine);
                  likedWines.add(row.wine);
                  console.log(`Liked wines: ${[...likedWines]}`);
                });

              // Get the button element
              const likeButton = document.querySelector('.likeButton');

              // Add a click event listener to the like button
              likeButton.addEventListener('click', function() {
                likeButton.classList.add('active');
              });

              const dislikeButton = document.querySelector('.dislikeButton');

              // Add a click event listener to the dislike button
              dislikeButton.addEventListener('click', function() {
                dislikeButton.classList.add('active');
              });



              tempDiv
                .querySelector('.dislikeButton')
                .addEventListener('click', function () {
                  console.log(`Dislike button clicked for ${row.wine}`);
                  // dislikedWines.push(row.wine);
                  dislikedWines.add(row.wine);
                  console.log(`Disliked wines: ${[...dislikedWines]}`);
                });

              // append the tempDiv to answer-box
              document.getElementById('answer-box').appendChild(tempDiv);
            });
          }
        });
    }

    function createWineDropdownList(suggestions, inputElement, cssElement) {
      const dropdown = document.createElement('ul');
      dropdown.setAttribute('class', cssElement);

      let tagAdded = false;

      suggestions.forEach((suggestion) => {
        const listItem = document.createElement('li');
        listItem.textContent = suggestion;

        listItem.addEventListener('click', () => {
          if (!tagAdded) {
            const input = document.getElementById(inputElement);
            document.getElementById(inputElement).value = listItem.textContent;
            const tag = document.createElement('span');
            tag.textContent = suggestion;
            tag.classList.add('tag-wine');
            const closeBtn = document.createElement('button');
            closeBtn.innerHTML = '&times;';
            closeBtn.classList.add('close-btn');
            closeBtn.addEventListener('click', (event) => {
              event.stopPropagation();
              tag.parentNode.removeChild(tag);
              input.value = '';
              input.setAttribute(
                'placeholder',
                'ex. Oak Grove 2012 Reserve Pinot Grigio'
              );
              input.style.display = 'block';
              tagAdded = false;
            });
            tag.appendChild(closeBtn);
            input.insertAdjacentElement('beforebegin', tag);
            input.style.display = 'none';
            tagAdded = true;
            closeDropdown();
          }
        });
        dropdown.appendChild(listItem);
      });

      // Listen for input changes and remove the tag if the user modifies the input
      document.getElementById(inputElement).addEventListener('input', () => {
        if (tagAdded) {
          const input = document.getElementById(inputElement);
          const tag = input.previousElementSibling;
          tag.parentNode.removeChild(tag);
          input.setAttribute(
            'placeholder',
            'ex. Oak Grove 2012 Reserve Pinot Grigio'
          );
          input.style.display = 'block';
          tagAdded = false;
        }
      });

      return dropdown;
    }

    function createVarietalDropdownList(suggestions, inputElement, cssElement) {
      const dropdown = document.createElement('ul');
      dropdown.setAttribute('class', cssElement);

      let tagAdded = false;

      suggestions.forEach((suggestion) => {
        const listItem = document.createElement('li');
        listItem.textContent = suggestion;
        listItem.addEventListener('click', () => {
          if (!tagAdded) {
            const input = document.getElementById(inputElement);
            document.getElementById(inputElement).value = listItem.textContent;
            const tag = document.createElement('span');
            tag.textContent = suggestion;
            tag.classList.add('tag-varietal');
            const closeBtn = document.createElement('button');
            closeBtn.innerHTML = '&times;';
            closeBtn.classList.add('close-btn-add');
            closeBtn.addEventListener('click', (event) => {
              event.stopPropagation();
              tag.parentNode.removeChild(tag);
              input.value = '';
              input.setAttribute('placeholder', 'All');
              input.style.display = 'block';
              tagAdded = false;
            });
            tag.appendChild(closeBtn);
            input.insertAdjacentElement('beforebegin', tag);
            input.style.display = 'none';
            tagAdded = true;
            closeDropdown();
          }
        });
        dropdown.appendChild(listItem);
      });

      // Listen for input changes and remove the tag if the user modifies the input
      document.getElementById(inputElement).addEventListener('input', () => {
        if (tagAdded) {
          const input = document.getElementById(inputElement);
          const tag = input.previousElementSibling;
          tag.parentNode.removeChild(tag);
          input.setAttribute('placeholder', 'All');
          input.style.display = 'block';
          tagAdded = false;
        }
      });

      return dropdown;
    }

    function createRegionDropdownList(suggestions, inputElement, cssElement) {
      const dropdown = document.createElement('ul');
      dropdown.setAttribute('class', cssElement);

      let tagAdded = false;

      suggestions.forEach((suggestion) => {
        const listItem = document.createElement('li');
        listItem.textContent = suggestion;
        listItem.addEventListener('click', () => {
          if (!tagAdded) {
            const input = document.getElementById(inputElement);
            document.getElementById(inputElement).value = listItem.textContent;
            const tag = document.createElement('span');
            tag.textContent = suggestion;
            tag.classList.add('tag-region');
            const closeBtn = document.createElement('button');
            closeBtn.innerHTML = '&times;';
            closeBtn.classList.add('close-btn-add');
            closeBtn.addEventListener('click', (event) => {
              event.stopPropagation();
              tag.parentNode.removeChild(tag);
              input.value = '';
              input.setAttribute('placeholder', 'All');
              input.style.display = 'block';
              tagAdded = false;
            });
            tag.appendChild(closeBtn);
            input.insertAdjacentElement('beforebegin', tag);
            input.style.display = 'none';
            tagAdded = true;
            closeDropdown();
          }
        });
        dropdown.appendChild(listItem);
      });

      // Listen for input changes and remove the tag if the user modifies the input
      document.getElementById(inputElement).addEventListener('input', () => {
        if (tagAdded) {
          const input = document.getElementById(inputElement);
          const tag = input.previousElementSibling;
          if (tag) {
            tag.parentNode.removeChild(tag);
          }
          input.setAttribute('placeholder', 'All');
          input.style.display = 'block';
          tagAdded = false;
        }
      });

      return dropdown;
    }

    function closeDropdown() {
      const dropdown = document.querySelector('.suggestions-dropdown');
      const dropdown_varietal = document.querySelector(
        '.suggestions-dropdown-varietal'
      );
      const dropdown_region = document.querySelector(
        '.suggestions-dropdown-region'
      );
      if (dropdown) {
        dropdown.remove();
      }
      if (dropdown_varietal) {
        dropdown_varietal.remove();
      }
      if (dropdown_region) {
        dropdown_region.remove();
      }
    }

    document
      .getElementById('filter-text-val')
      .addEventListener('input', (event) => {
        const input = event.target.value;
        if (input) {
          fetchWineSuggestions(input);
        } else {
          closeDropdown();
        }
      });

    document.addEventListener('click', (event) => {
      if (
        !event.target.closest('.suggestions-dropdown') &&
        !event.target.closest('#filter-text-val')
      ) {
        closeDropdown();
      }
    });

    function fetchWineSuggestions(input) {
      fetch(`/suggest_wines?input=${encodeURIComponent(input)}`)
        .then((response) => response.json())
        .then((suggestions) => {
          closeDropdown();
          if (suggestions.length > 0) {
            const dropdown = createWineDropdownList(
              suggestions,
              'filter-text-val',
              'suggestions-dropdown'
            );
            document
              .getElementById('filter-text-val')
              .parentNode.appendChild(dropdown);
          }
        })
        .catch((error) => {
          console.error(error);
        });
    }

    function fetchVarietalSuggestions(input) {
      // Fetch selected moods
      let moodButtons = document.querySelectorAll('.mood-button.active');
      let selectedMoods = [];
      for (btn of moodButtons) {
        selectedMoods.push(btn.id);
      }

      fetch(
        `/suggest_varietals?input=${input}&chill=${selectedMoods.includes(
          'chill'
        )}&sad=${selectedMoods.includes('sad')}&sexy=${selectedMoods.includes(
          'sexy'
        )}&angry=${selectedMoods.includes(
          'angry'
        )}&wild=${selectedMoods.includes('wild')}&low=${selectedMoods.includes(
          'low'
        )}`
      )
        .then((response) => response.json())
        .then((suggestions) => {
          closeDropdown();
          if (suggestions.length > 0) {
            const dropdown = createVarietalDropdownList(
              suggestions,
              'input-box-varietal',
              'suggestions-dropdown-varietal'
            );
            const inputBox = document.getElementById('input-box-varietal');
            if (inputBox) {
              inputBox.parentNode.appendChild(dropdown);
            }
          }
        });
    }

    function changeCountry() {
      const region_tags = document.getElementsByClassName('tag-region');
      while (region_tags.length > 0) {
        region_tags[0].parentNode.removeChild(region_tags[0]);
      }
      document.getElementById('input-box-region').style.display = 'block';

      selectedCountry = document.getElementById('country-select').value;
      document.getElementById('input-box-region').value = '';
      fetch(`/suggest_regions?country=${selectedCountry}`)
        .then((response) => response.json())
        .then((suggestions) => {
          if (suggestions.length > 0) {
            document.getElementById('input-box-region').disabled = false;
          } else {
            document.getElementById('input-box-region').disabled = true;
          }
        })
        .catch((err) => {
          document.getElementById('input-box-region').disabled = true;
        });
    }

    function fetchRegionSuggestions(country, input) {
      fetch(`/suggest_regions?country=${country}&input=${input}`)
        .then((response) => response.json())
        .then((suggestions) => {
          closeDropdown();
          if (suggestions.length > 0) {
            const dropdown = createRegionDropdownList(
              suggestions,
              'input-box-region',
              'suggestions-dropdown-region'
            );
            const inputBox = document.getElementById('input-box-region');
            if (inputBox) {
              inputBox.parentNode.appendChild(dropdown);
            }
          }
        });
    }

    function filterText() {
      document.getElementById('answer-box').innerHTML = '';
      document.getElementById('result-text').innerHTML = 'Loading...';
      let recommendButton = document.querySelector('.recommend-button');

      const wine_name = document.getElementById('filter-text-val');
      let moodButtons = document.querySelectorAll('.mood-button.active');

      if (moodButtons.length > 0) {
        if (wine_name.value != '') {
          // Perform the flavor search using both wine_name and flavors
          performFlavorSearch(document.getElementById('filter-text-val').value);
        } else {
          // If no wine name inputted, perform the flavor search on all wines
          performFlavorSearch();
        }
      } else {
        document.getElementById('result-text').innerHTML =
          'Please select at least one mood before pressing "Recommend".';
      }
    }

    function setUpVarietalInputEventListener() {
      const varietalInput = document.getElementById('input-box-varietal');

      varietalInput.addEventListener('input', (event) => {
        const input = event.target.value;
        if (input) {
          fetchVarietalSuggestions(input);
        } else {
          closeDropdown();
        }
      });
    }

    function setUpRegionInputEventListener() {
      const regionInput = document.getElementById('input-box-region');
      const countryDropdown = document.querySelector('.add-dropdown.country');
      regionInput.addEventListener('input', (event) => {
        const input = event.target.value;
        const country = countryDropdown.value;
        if (input) {
          fetchRegionSuggestions(country, input);
        } else {
          closeDropdown();
        }
      });
    }

    function createVarietalInput() {
      const varietalBox = document.querySelector('.add-box.varietal');
      const inputBox = document.createElement('div');
      inputBox.classList.add('add-input-box', 'varietal');
      inputBox.innerHTML =
        '<input id="input-box-varietal" placeholder="All" />';
      varietalBox.appendChild(inputBox);
    }

    function createRegionInput() {
      const regionBox = document.querySelector('.add-box.region');
      const inputBox = document.createElement('div');
      inputBox.classList.add('add-input-box', 'region');
      inputBox.innerHTML = '<input id="input-box-region" placeholder="All" />';
      regionBox.appendChild(inputBox);
    }

    // Event listener to toggle mood filters on and off
    // https://dev.to/nicm42/how-to-make-a-button-looked-like-it-s-staying-pressed-down-58k#:~:text=You%20can%20use%20a%20normal,button')%3B%20button.
    // https://www.codeinwp.com/snippets/add-event-listener-to-multiple-elements-with-javascript/#:~:text=%7D)(i)%3B%20%7D-,Adding%20an%20Event%20Listener%20to%20Multiple%20Elements%20Using%20a%20for,loop%20back%20into%20the%20function.
    let moodButtons = document.querySelectorAll('.mood-button');
    for (btn of moodButtons) {
      btn.addEventListener('click', function () {
        this.classList.toggle('active');
      });
    }

    document.querySelector('#filter-button').addEventListener('click', () => {
      document.querySelector('#search-box').classList.toggle('search-box-edit');
      document
        .querySelector('#additional-filters')
        .classList.toggle('additional-filters');

      // Create the input element if it doesn't exist
      if (!document.getElementById('input-box-varietal')) {
        createVarietalInput();
      }

      if (!document.getElementById('input-box-region')) {
        createRegionInput();
      }

      setUpVarietalInputEventListener();
      setUpRegionInputEventListener();
    });
  </script>
</body>
